body{

font-family: "Segoe UI", Arial;
background: #f4f6fb;
text-align: center;

}

h1{

color:#333;
margin-bottom:10px;

}

button{

background:#4a6cf7;
color:white;

border:none;
padding:10px 20px;

border-radius:8px;

font-size:16px;

cursor:pointer;

margin-bottom:20px;

}

button:hover{

background:#2f50e0;

}

#grid{

display:inline-block;
padding:15px;

background:white;

border-radius:12px;

box-shadow:0 8px 20px rgba(0,0,0,0.1);

}

.row{

display:flex;

}

.cell{

width:90px;
height:90px;

border:1px solid #ddd;

display:flex;
flex-direction:column;

justify-content:center;
align-items:center;

transition:all 0.3s ease;

}

.value{

font-size:14px;
color:#333;

}

.arrow{

font-size:22px;
font-weight:bold;

}

.start{

background:#4CAF50;
color:white;

}

.goal{

background:#e53935;
color:white;

}

.block{

background:#888;
color:white;

}

.path{

background:#FFD54F;

font-weight:bold;

}

.cell:hover{

transform:scale(1.05);

box-shadow:0 4px 10px rgba(0,0,0,0.2);

}